* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Main_Div {
    width: 100%;
    height: 1100px;
    display: grid;
    place-items: center;

    >.Main_Tabs {
        width: 1000px;
        height: 270px;


        // Start
        >.Tabs_Header {
            display: flex;
            border: 2px solid black;
            background-color: #e7e7e7;

            // justify-content: space-around;
            // align-items: center;
            .Red:hover {
                color: red;
            }

            .White:hover {
                color: white;
            }

            .Black:hover {
                color: black;
                text-shadow: #ffffff -1px 1px;
            }

            .Green:hover {
                color: green;
            }

            .Blue:hover {
                color: blue;
            }

            .Yellow:hover {
                color: yellow;
            }

            .Orange:hover {
                color: orange
            }

            .Purple:hover {
                color: purple;
            }

            .Gray:hover {
                color: gray;
                // text-shadow:#ffffff -1px 1px ;
            }

            .Brown:hover {
                color: brown;
            }

            >div {
                padding-top: 15px;
                width: 100px;
                height: 70px;
                text-align: center;
                font: normal small-caps 700 1rem 'Arial';
                line-height: 3;

                &:not(:last-child) {
                    border-right: 2px solid black;
                }

                &:hover {
                    background: #ccc;
                    color: black;
                }

                &.Active {
                    background-color: black;
                    color: white;
                }
            }
        }

        // Tabs_Header end



        >.Tabs_Color {
            display: flex;
            width: 100%;
            height: 100px;
            border: 25px solid black;
            border-bottom: none;
            color: white;

            >div {
                display: none;

                &.Active {
                    display: block;
                }
            }

            .Red_colour {
                width: 100%;
                background: red;
                text-align: center;
                padding-top: 15px;
                font-size: 45px;
            }

            .White_colour {
                width: 100%;
                background: White;
                text-align: center;
                padding-top: 15px;
                font-size: 45px;
                color: black;
            }

            .Black_colour {
                width: 100%;
                background: black;
                text-align: center;
                padding-top: 13px;
                font-size: 45px;
                border: 2px solid white;
            }

            .Green_colour {
                width: 100%;
                background: green;
                text-align: center;
                padding-top: 15px;
                font-size: 45px;
            }

            .Blue_colour {
                width: 100%;
                background: blue;
                text-align: center;
                padding-top: 15px;
                font-size: 45px;
            }

            .Yellow_colour {
                width: 100%;
                background: Yellow;
                text-align: center;
                padding-top: 15px;
                font-size: 45px;
                color: #000000;
            }

            .Orange_colour {
                width: 100%;
                background: orange;
                text-align: center;
                padding-top: 15px;
                font-size: 45px;
            }

            .Purple_colour {
                width: 100%;
                background: purple;
                text-align: center;
                padding-top: 15px;
                font-size: 45px;
            }

            .Gray_colour {
                width: 100%;
                background: gray;
                text-align: center;
                padding-top: 13px;
                font-size: 45px;
            }

            .Brown_colour {
                width: 100%;
                background: brown;
                text-align: center;
                padding-top: 13px;
                font-size: 45px;
            }
        }

        // Tabs_Color end



        >.Tabs_Details {
            width: 100%;
            height: 100px;
            border: 2px solid black;
            border-top: none;
            padding: 20px;
            background: rgb(0, 0, 0);
            color: white;
            text-align: center;
            padding-top: 20px;
            font-size: 25px;
            padding-top: 35px;

            >div {
                display: none;

                &.Active {
                    display: block;
                }
            }
        }

        // Tabs_Details end 

    }

    // <!-- Second_Tabs_Start -->
    >.Second_Main_Tabs {
        display: flex;
        outline: 2px solid rgb(0, 0, 0);
        width: 896px;
        height: 455px;


        >.Big_img_Box {
            padding-left: 2px;
            padding-top: 2px;

            >div {
                display: none;
                &.Ac {
                    display: block;
                }

                
            }

            .Bis_img_s {
                width: 447px;
                height: 450px;
                border: 1px solid rgb(0, 0, 0);
                &:hover {
                    border: 1px solid #ff0000;
                    cursor: zoom-in;
                }
            }
        }

        >.Small_img_Box {
            margin-left: 3.5px;
            padding-left: 2px;
            padding-top: 2px;
            width: 453px;
            height: 453px;
            display: flex;
            gap: 2px;
            flex-wrap: wrap;

            .div {
                width: 148px;
                height: 148px;
                border: 1px solid #000000;
            }

            .sm_img_S {
                width: 145px;
                height: 146px;
                border: 1px solid #000000;

                &:hover {
                    border: none;
                    cursor: pointer;
                    // padding: 5px;
                    margin: 4px;
                    width: 137px;
                    height: 138px;
                    border: 1px solid #ff0000; 
                    padding: 2px;
                    
                }
            }
        }
    }
}