* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

.MainTreeBoX {
    // width: 100%;
    // height: 100vh;
    width: 1728px;
    height: 7673px;
    background: #1B2316;
    position: relative;
    display: grid;

    >.bg_img {
        width: auto;
        height: auto;
        position: absolute;

        >img {
            width: 1732px;
            height: 2653px;
            margin-left: -2px;
            margin-top: 0;
        }
    }

    // bg_img_END
    >.Tree_Div_box {
        overflow: hidden;
        margin-top: 392px;
        margin-left: 1163px;
        position: absolute;
        width: 512px;
        height: 644px;
        border-radius: 77px;
        background: #676b6834;
        box-shadow: 7px 13px px 8px rgba(2, 2, 2, 0.151);
        border: 1px solid rgba(255, 255, 255, 0.13);
        clip-path: polygon(25% 0, 0 0, 0 100%, 100% 100%, 100% 0, 75% 0%, 50% 5%);

        // clip-path: polygon(20% 2%, 0 0, 0 100%, 100% 100%, 100% 0, 80% 2%, 50% 6%);
        // clip-path: polygon(40% 15%, 25% 0, 0 0, 0 100%, 100% 100%, 100% 0, 75% 0, 60% 15%);  
        >p {
            margin-left: 80px;
            margin-top: 256px;
            color: white;
            font-size: 23px;

        }

        >.h_3 {
            margin-top: 20px;
            margin-left: 80px;
            color: white;
            font-size: 38px;
            font-family: sans-serif;
        }

        >h6 {
            color: white;
            font-size: 35px;
            text-align: right;
            margin-top: -38px;
            margin-right: 40px;
            font-family: sans-serif;
        }

        >input {
            width: 217px;
            height: 64px;
            background: none;
            border: 1px solid white;
            border-radius: 12px;
            margin-left: 80px;
            margin-top: 20px;

            // New_for_me 
            &::placeholder {
                font-family: sans-serif;
                color: rgb(230, 225, 225);
                font-size: 28px;
                text-align: center;
            }
        }

        >.Three_dot {
            position: absolute;
            display: flex;

            >.Dot_one {
                width: 21px;
                height: 6px;
                border-radius: 50%;
                background: #ffffff;
                margin-left: 235px;
                margin-top: 36px;
            }

            >.Dot_Two {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #ffffff;
                margin-top: 36px;
                margin-left: 13px;
            }

            >.Dot_three {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #ffffff;
                margin-top: 36px;
                margin-left: 11px;
            }
        }
    }

    >.Tree_Div_img {
        margin-top: 133px;
        margin-left: 1085px;
        position: absolute;
        width: 640px;
        height: 640px;
    }

    // Tree_div_1_END
    >.Text_Div_1 {

        position: absolute;
        width: 892px;
        height: auto;
        margin-left: 57px;
        margin-top: 266px;

        >h1 {
            font-family: 'Airwalk', sans-serif;
            color: white;
            font-size: 118px;
        }

        >p {
            font-family: sans-serif;
            color: rgb(230, 225, 225);
            font-size: 23px;
        }

        >input {
            width: 217px;
            height: 64px;
            background: none;
            border: 1px solid white;
            border-radius: 12px;
            margin-left: 12px;
            margin-top: 22px;

            // New_for_me
            &::placeholder {
                font-family: sans-serif;
                color: rgb(230, 225, 225);
                font-size: 28px;
                text-align: center;
            }
        }

        >.liveDemo_box {
            position: absolute;
            display: flex;
            width: 196px;
            height: 64px;
            margin-top: -65px;
            margin-left: 252px;

            >.round_box {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                border: 1px solid white;

                >.Piramid {
                    margin-top: 17px;
                    margin-left: 20px;
                    width: 26px;
                    height: 26px;
                    clip-path: polygon(0 0, 0% 100%, 100% 50%);
                    background: #ffffff;
                }
            }

            >p {
                font-size: 20px;
                color: #ffffff;
            }
        }
    }

    // <!-- Text_Div_1_END -->

    >.CliantReview_Div_1 {

        width: 409px;
        height: 237px;
        margin-left: 57px;
        margin-top: 791px;
        position: absolute;
        background: #676b6834;
        box-shadow: 7px 13px 25px 8px rgba(2, 2, 2, 0.151);
        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 45px;

        >.Main_face_box {
            display: flex;
            position: absolute;
            width: 210px;
            height: 63px;
            margin-left: 46px;
            margin-top: 43px;


            >.Face_box {
                height: 63px;
                width: 65px;
                border-radius: 50%;
                overflow: hidden;
                margin-left: 0;
                margin-top: 0;

                >img {
                    height: 63px;
                    width: 65px;
                }
            }

            >.Text_box {


                >h4 {
                    margin-left: 28px;
                    font-size: 22px;
                    color: #ffffff;
                }

                >.Five_Star {
                    display: flex;
                    width: 110px;
                    height: 14.7px;
                    margin-left: 23px;
                    margin-top: 5px;

                    >.One_Str {
                        width: 15.22px;
                        height: 14.77px;
                        background: #FFF84E;
                        clip-path: polygon(42% 42%, 0 38%, 38% 58%, 19% 96%, 52% 69%, 93% 92%, 67% 55%, 100% 31%, 60% 41%, 49% 0);
                    }

                    >.two_str {
                        width: 15.22px;
                        height: 14.77px;
                        background: #FFF84E;
                        clip-path: polygon(42% 42%, 0 38%, 38% 58%, 19% 96%, 52% 69%, 93% 92%, 67% 55%, 100% 31%, 60% 41%, 49% 0);
                    }

                    >.Three_Str {
                        width: 15.22px;
                        height: 14.77px;
                        background: #FFF84E;
                        clip-path: polygon(42% 42%, 0 38%, 38% 58%, 19% 96%, 52% 69%, 93% 92%, 67% 55%, 100% 31%, 60% 41%, 49% 0);
                    }

                    >.Four_str {
                        width: 15.22px;
                        height: 14.77px;
                        background: #FFF84E;
                        clip-path: polygon(42% 42%, 0 38%, 38% 58%, 19% 96%, 52% 69%, 93% 92%, 67% 55%, 100% 31%, 60% 41%, 49% 0);
                    }

                    >.five_str {
                        width: 15.22px;
                        height: 14.77px;
                        background: #FFF84E;
                        clip-path: polygon(42% 42%, 0 38%, 38% 58%, 19% 96%, 52% 69%, 93% 92%, 67% 55%, 100% 31%, 60% 41%, 49% 0);
                    }

                }
            }
        }

        >p {
            width: 341px;
            height: 63px;
            margin-top: 129px;
            text-align: left;
            font-size: 17px;
            color: #FFFFFF;
            margin-left: 40px;
            // text-align: justify;
            letter-spacing: 1.2px;

        }
    }

    // CliantReview_Div_1_END
    >.Our_Trendy_plants_BOX {
        position: absolute;
        width: 520px;
        height: 99px;
        margin-top: 1096px;
        margin-left: 592px;
        display: flex;
        background: rgba(0, 0, 0, 0.212);
        border-radius: 23px;

        >.R_border {
            width: 68.5px;
            height: 69px;
            margin-right: -0;
            margin-top: -0;
            border-top: 7px solid rgba(14, 216, 14, 0.5);
            border-right: 7px solid rgba(255, 0, 0, 0.479);
            border-radius: 0 23px 0 23px;
        }

        >.L_border {
            width: 68.5px;
            height: 69px;
            margin-bottom: -0;
            margin-left: -0;
            border-bottom: 7px solid rgba(13, 218, 13, 0.705);
            border-left: 7px solid rgba(255, 0, 0, 0.63);
            border-radius: 0 23px 0 23px;
        }

        >h1 {
            position: absolute;
            font-size: 55px;
            color: #ffffff;
            margin-top: 15px;
            margin-left: 25px;
            font-family: sans-serif;
        }
    }

    // <!-- Our_Trendy_plants_Text_END -->
    >.HorizontalTreeBox {
        width: 1619px;
        height: 526px;
        margin-left: 74px;
        margin-top: 1309px;
        position: absolute;
        background: #ffffff0e;
        backdrop-filter: blur(13px);
        box-shadow: 7px 13px 25px 8px rgba(2, 2, 2, 0.151);
        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 151px;
    }

    >.HorizontalTreeBox_2 {
        width: 1615px;
        height: 526px;
        margin-left: 64px;
        margin-top: 1967px;

        position: absolute;
        background: #ffffff0e;
        backdrop-filter: blur(13px);
        box-shadow: 7px 13px 25px 8px rgba(2, 2, 2, 0.151);
        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 151px;
    }

    // Horizontal_Tree_Box__END
    >.Our_Top_Selling {
        position: absolute;
        width: 468.5px;
        height: 99px;
        margin-top: 2735px;
        margin-left: 630px;
        display: flex;
        background: rgba(0, 0, 0, 0.068);
        border-radius: 23px;

        >.R_border {
            width: 68.5px;
            height: 69px;
            margin-right: -0;
            margin-top: -0;
            border-top: 7px solid rgba(14, 216, 14, 0.5);
            border-right: 7px solid rgba(255, 0, 0, 0.479);
            border-radius: 0 23px 0 23px;
        }

        >.L_border {
            width: 68.5px;
            height: 69px;
            margin-bottom: -0;
            margin-left: -0;
            border-bottom: 7px solid rgba(13, 218, 13, 0.705);
            border-left: 7px solid rgba(255, 0, 0, 0.63);
            border-radius: 0 23px 0 23px;
        }

        >h1 {
            position: absolute;
            font-size: 55px;
            color: #ffffff;
            margin-top: 15px;
            margin-left: 25px;
            font-family: sans-serif;
        }
    }

    //Our_Top_Selling_TEXT_END
    >.Top_1 {

        width: 512px;
        height: 664px;
        margin-left: 64px;
        margin-top: 3023px;
        position: absolute;
        background: #ffffff0e;
        backdrop-filter: blur(13px);
        box-shadow: 7px 13px 25px 8px rgba(2, 2, 2, 0.151);
        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 77px;
        clip-path: polygon(25% 0, 0 0, 0 100%, 100% 100%, 100% 0, 75% 0%, 50% 4%);

        >.h1 {
            margin-top: 361px;
            font-size: 38px;
            margin-left: 66px;
            color: #FFFFFF;
        }

        >.text {
            width: 317px;
            height: 58px;
            font-size: 24px;
            margin-left: 66px;
            margin-top: 37px;
            color: #FFFFFF;
        }

        >.bag_box {
            margin-left: 66px;
            margin-top: 36px;
            display: flex;
            width: 372px;
            height: 55px;

            >.price {
                font-size: 38px;
                margin-left: - 0;
                color: #FFFFFF;
            }

            >.bag {
                width: 55px;
                height: 55px;
                border: 1px solid white;
                border-radius: 10px;
                margin-right: -0;

                >a>.bag_img_Siz {
                    width: 27px;
                    height: 27px;
                    margin-top: 10.5px;
                    margin-left: 12px;
                }
            }

        }
    }

    >.Top_1_img {
        width: 459px;
        height: 459px;
        position: absolute;
        margin-top: 2910px;
        margin-left: 90px;
        overflow: hidden;

        >img {
            margin-left: -80px;
        }
    }

    >.Top_2 {
        width: 512px;
        height: 664px;
        margin-left: 617px;
        margin-top: 3023px;
        position: absolute;
        background: #ffffff0e;
        backdrop-filter: blur(13px);
        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 77px;
        clip-path: polygon(25% 0, 0 0, 0 100%, 100% 100%, 100% 0, 75% 0%, 50% 4%);

        >.h1 {
            margin-top: 361px;
            font-size: 38px;
            margin-left: 66px;
            color: #FFFFFF;
        }

        >.text {
            width: 317px;
            height: 58px;
            font-size: 24px;
            margin-left: 66px;
            margin-top: 37px;
            color: #FFFFFF;
        }

        >.bag_box {
            margin-left: 66px;
            margin-top: 36px;
            display: flex;
            width: 372px;
            height: 55px;

            >.price {
                font-size: 38px;
                margin-left: - 0;
                color: #FFFFFF;
            }

            >.bag {
                width: 55px;
                height: 55px;
                border: 1px solid white;
                border-radius: 10px;
                margin-right: -0;

                >a>.bag_img_Siz {
                    width: 27px;
                    height: 27px;
                    margin-top: 10.5px;
                    margin-left: 12px;
                }
            }

        }
    }

    >.Top_2_img {
        width: 459px;
        height: 459px;
        position: absolute;
        margin-top: 2910px;
        margin-left: 643px;
        overflow: hidden;

        >img {
            margin-top: -80px;
            height: 600px;
            margin-left: -20px;
        }
    }

    >.Top_3 {
        width: 512px;
        height: 664px;
        margin-left: 1171px;
        margin-top: 3023px;
        position: absolute;
        background: #ffffff0e;
        backdrop-filter: blur(13px);

        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 77px;
        clip-path: polygon(25% 0, 0 0, 0 100%, 100% 100%, 100% 0, 75% 0%, 50% 4%);

        >.h1 {
            margin-top: 361px;
            font-size: 38px;
            margin-left: 66px;
            color: #FFFFFF;
        }

        >.text {
            width: 317px;
            height: 58px;
            font-size: 24px;
            margin-left: 66px;
            margin-top: 37px;
            color: #FFFFFF;
        }

        >.bag_box {
            margin-left: 66px;
            margin-top: 36px;
            display: flex;
            width: 372px;
            height: 55px;

            >.price {
                font-size: 38px;
                margin-left: - 0;
                color: #FFFFFF;
            }

            >.bag {
                width: 55px;
                height: 55px;
                border: 1px solid white;
                border-radius: 10px;
                margin-right: -0;

                >a>.bag_img_Siz {
                    width: 27px;
                    height: 27px;
                    margin-top: 10.5px;
                    margin-left: 12px;
                }
            }

        }
    }

    >.Top_3_img {
        width: 459px;
        height: 459px;
        position: absolute;
        margin-top: 2910px;
        margin-left: 1197px;
        overflow: hidden;

        >img {
            margin-left: -80px;
        }
    }

    >.Top_4 {
        width: 512px;
        height: 664px;
        margin-left: 64px;
        margin-top: 3780px;
        position: absolute;
        background: #ffffff0e;
        backdrop-filter: blur(13px);

        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 77px;
        clip-path: polygon(25% 0, 0 0, 0 100%, 100% 100%, 100% 0, 75% 0%, 50% 4%);

        >.h1 {
            margin-top: 361px;
            font-size: 38px;
            margin-left: 66px;
            color: #FFFFFF;
        }

        >.text {
            width: 317px;
            height: 58px;
            font-size: 24px;
            margin-left: 66px;
            margin-top: 37px;
            color: #FFFFFF;
        }

        >.bag_box {
            margin-left: 66px;
            margin-top: 36px;
            display: flex;
            width: 372px;
            height: 55px;

            >.price {
                font-size: 38px;
                margin-left: - 0;
                color: #FFFFFF;
            }

            >.bag {
                width: 55px;
                height: 55px;
                border: 1px solid white;
                border-radius: 10px;
                margin-right: -0;

                >a>.bag_img_Siz {
                    width: 27px;
                    height: 27px;
                    margin-top: 10.5px;
                    margin-left: 12px;
                }
            }

        }
    }

    >.Top_4_img {
        width: 459px;
        height: 459px;
        position: absolute;
        margin-top: 3667px;
        margin-left: 90px;
        overflow: hidden;

        >img {
            margin-left: -80px;
            
        }
    }

    >.Top_5 {
        width: 512px;
        height: 664px;
        margin-left: 617px;
        margin-top: 3780px;
        position: absolute;
        background: #ffffff0e;
        backdrop-filter: blur(13px);

        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 77px;
        clip-path: polygon(25% 0, 0 0, 0 100%, 100% 100%, 100% 0, 75% 0%, 50% 4%);

        >.h1 {
            margin-top: 361px;
            font-size: 38px;
            margin-left: 66px;
            color: #FFFFFF;
        }

        >.text {
            width: 317px;
            height: 58px;
            font-size: 24px;
            margin-left: 66px;
            margin-top: 37px;
            color: #FFFFFF;
        }

        >.bag_box {
            margin-left: 66px;
            margin-top: 36px;
            display: flex;
            width: 372px;
            height: 55px;

            >.price {
                font-size: 38px;
                margin-left: - 0;
                color: #FFFFFF;
            }

            >.bag {
                width: 55px;
                height: 55px;
                border: 1px solid white;
                border-radius: 10px;
                margin-right: -0;

                >a>.bag_img_Siz {
                    width: 27px;
                    height: 27px;
                    margin-top: 10.5px;
                    margin-left: 12px;
                }
            }

        }
    }

    >.Top_5_img {
        width: 459px;
        height: 459px;
        position: absolute;
        margin-top: 3667px;
        margin-left: 643px;
        overflow: hidden;

        >img {
            margin-left: -80px;
        }
    }

    >.Top_6 {
        width: 512px;
        height: 664px;
        margin-left: 1171px;
        margin-top: 3780px;
        position: absolute;
        background: #ffffff0e;
        backdrop-filter: blur(13px);
        // box-shadow: 7px 13px 25px 8px rgba(2, 2, 2, 0.151);
        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 77px;
        clip-path: polygon(25% 0, 0 0, 0 100%, 100% 100%, 100% 0, 75% 0%, 50% 4%);

        >.h1 {
            margin-top: 361px;
            font-size: 38px;
            margin-left: 66px;
            color: #FFFFFF;
        }

        >.text {
            width: 317px;
            height: 58px;
            font-size: 24px;
            margin-left: 66px;
            margin-top: 37px;
            color: #FFFFFF;
        }

        >.bag_box {
            margin-left: 66px;
            margin-top: 36px;
            display: flex;
            width: 372px;
            height: 55px;

            >.price {
                font-size: 38px;
                margin-left: - 0;
                color: #FFFFFF;
            }

            >.bag {
                width: 55px;
                height: 55px;
                border: 1px solid white;
                border-radius: 10px;
                margin-right: -0;

                >a>.bag_img_Siz {
                    width: 27px;
                    height: 27px;
                    margin-top: 10.5px;
                    margin-left: 12px;
                }
            }

        }
    }

    >.Top_6_img {
        width: 459px;
        height: 459px;
        position: absolute;
        margin-top: 3667px;
        margin-left: 1197px;
        overflow: hidden;

        >img {
            margin-left: -80px;
        }
    }

    // <!-- Top_selling_Tree_Box_END -->
    >.Customer_Review_text {
        position: absolute;
        width: 532.5px;
        height: 100px;
        margin-top: 4683px;
        margin-left: 598px;
        display: flex;
        background: rgba(0, 0, 0, 0.062);
        border-radius: 23px;

        >.R_border {
            width: 68.5px;
            height: 69px;
            margin-right: -0;
            margin-top: -0;
            border-top: 7px solid rgba(14, 216, 14, 0.5);
            border-right: 7px solid rgba(255, 0, 0, 0.479);
            border-radius: 0 23px 0 23px;
        }

        >.L_border {
            width: 68.5px;
            height: 69px;
            margin-bottom: -0;
            margin-left: -0;
            border-bottom: 7px solid rgba(13, 218, 13, 0.705);
            border-left: 7px solid rgba(255, 0, 0, 0.63);
            border-radius: 0 23px 0 23px;
        }

        >h1 {
            position: absolute;
            font-size: 55px;
            color: #ffffff;
            margin-top: 15px;
            margin-left: 25px;
            font-family: sans-serif;
        }
    }

    // Customer_Review_text_end
    >.Customer_Review {
        width: 512px;
        height: 440px;
        margin-left: 63px;
        margin-top: 4925px;
        position: absolute;
        background: #ffffff0e;
        backdrop-filter: blur(13px);
        box-shadow: 7px 13px 25px 8px rgba(2, 2, 2, 0.151);
        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 51px;
    }

    >.Customer_Review_2 {
        width: 512px;
        height: 440px;
        margin-left: 608px;
        margin-top: 4925px;
        position: absolute;
        background: #ffffff0e;
        backdrop-filter: blur(13px);
        box-shadow: 7px 13px 25px 8px rgba(2, 2, 2, 0.151);
        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 51px;
    }

    >.Customer_Review_3 {

        width: 512px;
        height: 440px;
        margin-left: 1153px;
        margin-top: 4925px;
        position: absolute;
        background: #ffffff0e;
        backdrop-filter: blur(13px);
        box-shadow: 7px 13px 25px 8px rgba(2, 2, 2, 0.151);
        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 51px;
    }

    // Customer_review_END
    >.Our_Best_o2 {
        position: absolute;
        width: 378.5px;
        height: 102px;
        margin-top: 5690px;
        margin-left: 675px;
        display: flex;
        background: rgba(0, 0, 0, 0.062);
        border-radius: 23px;

        >.R_border {
            width: 68.5px;
            height: 69px;
            margin-right: -0;
            margin-top: -0;
            border-top: 7px solid rgba(14, 216, 14, 0.5);
            border-right: 7px solid rgba(255, 0, 0, 0.479);
            border-radius: 0 23px 0 23px;
        }

        >.L_border {
            width: 68.5px;
            height: 69px;
            margin-bottom: -0;
            margin-left: -0;
            border-bottom: 7px solid rgba(13, 218, 13, 0.705);
            border-left: 7px solid rgba(255, 0, 0, 0.63);
            border-radius: 0 23px 0 23px;
        }

        >h1 {
            position: absolute;
            font-size: 55px;
            color: #ffffff;
            margin-top: 15px;
            margin-left: 25px;
            font-family: sans-serif;
        }
    }

    // <!-- Our Best o2_Text_End -->

    >.Best_tree {
        width: 1600px;
        height: 755px;
        margin-left: 65px;
        margin-top: 6034px;
        position: absolute;
        background: #ffffff0e;
        backdrop-filter: blur(13px);
        box-shadow: 7px 13px 25px 8px rgba(2, 2, 2, 0.151);
        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 92px;
    }

    // <!-- Our_Best_TREE_END -->

    >.Nav {
        width: 1639px;
        height: 80px;
        background: #ffffff0a;
        border-radius: 20px;
        margin-top: 42px;
        margin-left: 44px;
        overflow: hidden;
        position: fixed;
        box-shadow: 5px 10px 20px 5px rgba(2, 2, 2, 0.151);
        border: 1px solid rgba(255, 255, 255, 0.267);
        display: flex;

        >.Nav_icon {
            display: flex;
            margin-left: 6px;
            width: 150px;

            >.Nav_Name {
                color: rgb(255, 255, 255);
                font-size: 28px;
                margin-top: 20px;
                margin-left: 7px;

            }

            >.Nav_icon_img_size {
                margin-top: 7px;
                height: 58px;
                width: 58px;

            }

        }

        >.Nav_Menu {
            width: 545px;
            height: 29px;
            margin-top: 25.5px;
            margin-left: 385px;
            display: flex;

            >div {
                color: rgb(255, 255, 255);
                font-size: 24px;
            }
        }

        >.Search {
            margin-top: 20px;
            height: 40px;
            width: 40px;
            margin-left: 230px;

            // display: flex;
            >.input {
                margin-top: 5px;
                height: 30px;
                width: 80px;
                overflow: hidden;
                position: absolute;
                background: none;
                border: 1px solid rgba(255, 255, 255, 0.363);
                border-radius: 10px;

                &:hover {
                    background: #000000;
                    border: 1px solid #ffffff;
                }
            }

            >.Search_img_Siz {
                margin-top: 11px;
                height: 18px;
                width: 18px;
                background: none;
                position: relative;
                margin-left: 55px;
            }
        }

        >.bag {
            height: 40px;
            width: 40px;
            margin-left: 80px;

            >a>.bag_img_Siz {
                margin-top: 5px;
                height: 30px;
                width: 30px;
                margin-left: 5px;
            }
        }

        >.ThreeDotMenu {
            height: 40px;
            width: 60px;
            margin-left: 40px;

            >a>.ThreeDotMenu_img_siz {
                margin-top: 10px;
                height: 20px;
                width: 40px;
                margin-left: 10px;
            }
        }
    }

    // Nav...END
    >.Main_Footer_Box {
        margin-top: 7103px;
        margin-left: 0;
        width: 1728px;
        height: 570px;
        background: #222C1D;
    }

    // Footer_Box_END -->

}